[class*="container"] {
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 10px;
}
.container1 {
    background-color: red;
    position:absolute;
    border-color: green;
}
.container2 {
    background-color:yellow;
    left: 250px;
    position: absolute;
    border-color: red;
}
.container3 {
    background-color:green;
    left:500px;
    position: absolute;
    border-color:yellow;
}